#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

* {
  font-family: "Mochiy Pop One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

h1 {
  color: white;
}

h2 {
  color: white;
}

h3 {
  color: white;
}

input {
  background: none;
  border: 1px white solid;
  border-radius: 5px;
  color: white;
  text-align: center;
  font-size: 1.25rem;
  width: 250px;
}

.neutral {
  background-color: whitesmoke;
  border: 1px black solid;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.neutral-found {
  background-color: lightgrey;
  border: 1px black solid;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.orange {
  background-color: orange;
  border: 1px black solid;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.orange-found {
  background-color: darkorange;
  border: 1px black solid;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.blue {
  background-color: skyblue;
  border: 1px black solid;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.blue-found {
  background-color: lightblue;
  border: 1px black solid;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.black {
  background-color: black;
  border: 1px black solid;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.black-found {
  background-color: black;
  border: 1px black solid;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper {
  width: 600px;
  display: grid;
  justify-content: center;
  align-items: center;
  grid-gap: 10px;
  grid-template-columns: repeat(5, 120px);
  grid-template-rows: repeat(5, 100px);
  grid-auto-flow: column;
}

.centred-word {
  text-align: center;
}